<div class="container-fluid text-white py-1 footerBg" id="contact">
  <div class="container text-center py-5">
    <div class="section-title position-relative text-center">
      <h1 class="font-secondary display-3 text-white">Thank You</h1>
      <i class="far fa-heart text-white"></i>
    </div>
    <div class="d-flex justify-content-center py-2">
      <p class="text-white" href="#">suhassrao.in</p>
      <span class="px-3">|</span>
      <p class="text-white" href="#">+91 70195 32563</p>
    </div>
    <p class="m-0">&copy;Designed by <a class="name-label" href="https://suhassrao.in">Suhas S Rao</a>
    </p>
  </div>
</div>