<nav class="navbar fixed-top shadow-sm navbar-expand-lg bg-dark py-3 py-lg-0 px-lg-5 d-flex justify-content-center">
  <div class="d-flex align-items-center justify-content-between">
    <div class="navbar-nav ml-auto py-0">
      <a class="nav-item nav-link" (click)="onNavClick('about')">About</a>
      <a class="nav-item nav-link" (click)="onNavClick('gallery')">Gallery</a>
      <a class="nav-item nav-link" (click)="onNavClick('videos')">Videos</a>
    </div>
    <a (click)="onNavClick('home')" class="navbar-brand mx-5 d-block">
      <h1 class="font-secondary text-white mb-n2">{{jsonDataResult.About.Groom.Name}} <span class="text-primary">&
        </span> {{jsonDataResult.About.Bride.Name}} </h1>
    </a>
    <div class="navbar-nav mr-auto py-0">
      <a class="nav-item nav-link" (click)="onNavClick('event')">Event</a>
      <a class="nav-item nav-link" (click)="onNavClick('family')">Family</a>
      <a class="nav-item nav-link" (click)="onNavClick('contact')">Contact</a>
    </div>
  </div>
</nav>