<nav
  class="navbar sticky-top shadow-sm navbar-expand-lg py-3 py-lg-0 px-lg-5 d-flex justify-content-center headerBg gap-5rem flex-column">
  <div class="menu-list">
    <div id="nav-menu-lap" class="d-flex align-items-center justify-content-between">
      <div class="d-flex">
        <a (click)="onNavClick('home')" class="navbar-brand ml-5 d-block cursor-pointer">
          <h1 class="font-secondary text-white mb-n2 text-center">{{data.About.Groom.Name}} <span class="text-primary">&
            </span> {{data.About.Bride.Name}} </h1>
            <p class="our-wedding-page">OUR WEDDING PAGE</p>
        </a>
        <img class="img-width-5rem" src="../assets/hearts.svg">
      </div>
      <div>
        <div class="navbar-nav ml-auto py-0">
          <a class="nav-item nav-link mob text-center align-items-center d-flex" (click)="onNavClick('home')">Home</a>
          <a class="nav-item nav-link mob text-center align-items-center d-flex" (click)="onNavClick('about')">About</a>
          <a class="nav-item nav-link mob text-center align-items-center d-flex"
            (click)="onNavClick('gallery')">Gallery</a>
          <a class="nav-item nav-link mob text-center align-items-center d-flex"
            (click)="onNavClick('videos')">Videos</a>
          <a class="nav-item nav-link mob text-center align-items-center d-flex"
            (click)="onNavClick('event')">Events & Location</a>
          <a class="nav-item nav-link mob text-center align-items-center d-flex" (click)="onNavClick('family')">Friends
            & Family</a>
        </div>
      </div>
    </div>
    <div id="nav-menu-mobile" class="d-flex align-items-center justify-content-between">
      <span class="material-symbols-outlined header-menu" (click)="openMenuInMob()">menu</span> 
      <a (click)="onNavClick('home')" class="navbar-brand d-block cursor-pointer">
        <h1 class="font-secondary text-white mb-n2 text-center">{{data.About.Groom.Name}} <span class="text-primary">&
          </span> {{data.About.Bride.Name}} </h1>
          <p class="our-wedding-page">OUR WEDDING PAGE</p>
      </a>
    </div>
  </div>
  <ng-container *ngIf="openMenu == true">
    <div class="d-flex flex-column align-items-center w-100">
      <a class="nav-item nav-link m-2 d-flex align-items-center mob" (click)="onNavClick('home')">Home</a>
      <a class="nav-item nav-link m-2 d-flex align-items-center mob" (click)="onNavClick('about')">About</a>
      <a class="nav-item nav-link m-2 d-flex align-items-center mob" (click)="onNavClick('gallery')">Gallery</a>
      <a class="nav-item nav-link m-2 d-flex align-items-center mob" (click)="onNavClick('videos')">Videos</a>
      <a class="nav-item nav-link m-2 d-flex align-items-center mob" (click)="onNavClick('event')">Events & Location</a>
      <a class="nav-item nav-link m-2 d-flex align-items-center mob" (click)="onNavClick('family')">Friends & Family</a>
    </div>
  </ng-container>
</nav>