p {
    margin: 0 !important;
}

.vertical-line {
    border-right: 0.25px solid #E47A2E;
    box-shadow: none;
}

.portfolio-container {
    gap: 1rem !important
}

.portfolio-item {
    width: 30%;
}

.phone-no {
    word-wrap: break-word;
    font-size: 0.80rem;
    white-space: break-spaces;
}

.name {
    word-wrap: break-word;
    font-size: 0.9rem;
    white-space: break-spaces;
}

@media only screen and (max-width: 900px) {

    .portfolio-item {
        width: 100%;
        padding-right: 0rem !important;
        padding-left: 0 !important;
    }
}

@media only screen and (min-width:900px) and (max-width: 1300px) {
    .portfolio-item {
        width: 45% !important;
    }
}

.mx-2p {
    margin-left: 2% !important;
    margin-right: 2% !important;
}