<div class="container-fluid py-5" id="family">
  <div class="pt-5 pb-3">
    <div class="section-title position-relative text-center">
      <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Friends & Family</h6>
      <i class="far fa-heart text-dark"></i>
    </div>
    <div class="d-flex w-100 justify-content-around">
      <div class="d-flex flex-column align-items-center w-50">
        <div class="row">
          <ul class="list-inline mb-4" id="portfolio-flters">
            <li class="btn btn-outline-primary font-weight-bold m-1 py-2 px-4" data-filter=".first">Groomsmen</li>
          </ul>
        </div>
        <div class="row portfolio-container justify-content-center align-content-center mx-3">
          <ng-container *ngFor="let person of groomsmenDetails">
            <div class="portfolio-item mw-8rem">
              <img class="img-fluid" src="https://drive.google.com/uc?export=view&id={{person.ImageId}}" alt="">
              <div class="bg-secondary text-center p-4">
                <h4 class="mb-3 name">{{person.Name}}</h4>
                <p class="phone-no">{{person.PhoneNumber}}</p>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="vertical-line"></div>
      <div class="d-flex flex-column align-items-center w-50">
        <div class="row">
          <ul class="list-inline mb-4" id="portfolio-flters">
            <li class="btn btn-outline-primary font-weight-bold m-1 py-2 px-4" data-filter=".second">Bridesmaid</li>
          </ul>
        </div>
        <div class="row portfolio-container justify-content-center align-content-center mx-3">
          <ng-container *ngFor="let person of bridesmaidDetails">
            <div class="portfolio-item mw-8rem">
              <img class="img-fluid" src="https://drive.google.com/uc?export=view&id={{person.ImageId}}" alt="">
              <div class="bg-secondary text-center p-4">
                <h4 class="mb-3 name">{{person.Name}}</h4>
                <p class="phone-no">{{person.PhoneNumber}}</p>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>