<div class="countdown">
    <div>
       <span class="number months">{{months}}</span>
       <span>Months</span>
    </div>
    <div>
       <span class="number days">{{days}}</span>
       <span>Days</span>
    </div>
    <div>
       <span class="number hours">{{hours}}</span>
       <span>Hours</span>
    </div>
    <div>
       <span class="number minutes">{{minutes}}</span>
       <span>Minutes</span>
    </div>
    <div>
       <span class="number seconds">{{seconds}}</span>
       <span>Seconds</span>
    </div>
 </div>